<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bztc.mapper.CodeLibraryMapper">

    <resultMap id="BaseResultMap" type="com.bztc.domain.CodeLibrary">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="itemCatalogCode" column="item_catalog_code" jdbcType="VARCHAR"/>
        <result property="itemCode" column="item_code" jdbcType="VARCHAR"/>
        <result property="itemName" column="item_name" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="inputUser" column="input_user" jdbcType="VARCHAR"/>
        <result property="inputTime" column="input_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,item_catalog_code,item_code,
        item_name,remark,status,
        input_user,input_time,update_user,
        update_time
    </sql>
</mapper>
