<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bztc.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.bztc.domain.UserInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="inputUser" column="input_user" jdbcType="VARCHAR"/>
        <result property="inputTime" column="input_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,password,phone,email,avatar_url
        status,input_user,input_time,
        update_user,update_time
    </sql>
    <select id="queryUserNoRoles" parameterType="java.lang.String" resultMap="BaseResultMap">
        select ui.id, ui.user_name
        from user_info ui
        where ui.status = '1'
          and not exists(select 1
                         from user_role userrole
                         where ui.id = userrole.user_id
                           and userrole.role_id = #{roleId})
    </select>
</mapper>
